@import "./media_query.scss";

html {
  scroll-behavior: smooth;
}
.show-desktop {
  display: none;
  @include media(">=custom1", "<=tablet") {
    display: inline;
  }
  @include media(">tablet") {
    display: inline;
  }
}
$primary: #00bfaf;
$orange: #fd8a5e;
$blue: #01dddd;
$pink: #ff598f;
$white: #ffffff;
$font-color: #707070;

$logo-size: 1.2rem;

* {
  padding: 0;
  font-family: montserrat;
  margin: 0;
}
.container {
  overflow: hidden;
  max-width: 1366px;
  margin: auto;
}

// header
header {
  display: flex;
  background: $primary;
  color: $white;
  width: 100vw;
  max-width: 1366px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99;

  .logo {
    align-self: center;
    justify-self: center;
    margin: 0.1rem 0;
    margin-left: 1rem;
    margin-right: auto;

    img {
      width: 60px;
      height: 60px;
    }
  }
  nav {
    display: none;
    align-self: center;
    @include media(">tablet") {
      display: flex;
      margin-right: 2rem;
    }
    ul {
      display: flex;
      li {
        list-style-type: none;

        padding: 0.5rem;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  .burger {
    margin-right: 2rem;
    cursor: pointer;
    align-self: center;
    @include media(">tablet") {
      display: none;
    }
  }
}
// header
// hero-section
.hero-section {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  @include media(">=custom1", "<=tablet") {
    height: 400px;
    margin-top: 2rem;
  }
  @include media(">tablet") {
    height: 400px;
    // margin-top: 2rem;
    height: 700px;
    position: relative;
  }
  .circle {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background: $pink;
    right: -120px;
    @include media(">=custom1", "<=tablet") {
      top: 20px;
      right: -50px;
    }
    @include media(">tablet") {
      top: 40px;
      right: -20px;
    }
  }
  .triangle1 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 86.60254px solid $blue;
    bottom: 40px;
    left: -7px;
    transform: rotate(-37deg);
  }
  .triangle2 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;

    border-bottom: 111.961524px solid $orange;
    bottom: -20px;
    right: -40px;
    transform: rotate(133deg);
    z-index: -1;
  }
  main {
    @include media(">=custom1", "<=tablet") {
      display: flex;
      width: 80%;
    }
    @include media(">tablet") {
      display: flex;
      width: 900px;
    }
    img {
      min-width: 290px;
      @include media(">=custom1", "<=tablet") {
        max-width: 200px;
      }
      @include media(">tablet") {
        min-width: 400px;
      }
    }
    .welcome-text {
      height: 200px;
      width: 100%;
      @include media(">=custom1", "<=tablet") {
        align-self: flex-start;
      }
      @include media(">tablet") {
        align-self: flex-start;
        // flex-direction: column;
        // flex-grow: 1;
        // line-height: 100%;
      }
      h1 {
        color: $font-color;
        font-weight: normal;
        text-align: center;
        @include media(">tablet") {
          font-size: 2.5rem;

          font-weight: 500;
        }
        span {
          font-size: 7rem;
          font-weight: bold;
          color: $pink;
          @include media(">tablet") {
            font-size: 14rem;
          }
        }
      }
      h2 {
        text-align: center;
        line-height: 12px;
        font-size: 1.68rem;
        color: $font-color;
        font-weight: normal;
        @include media(">=custom1", "<=tablet") {
          line-height: 25px;
        }
        @include media(">tablet") {
          font-size: 2.5rem;
          line-height: 50px;
          font-weight: 500;
          text-align: center;
          margin-top: -1rem;
        }
      }
    }
  }
}
// hero-section
// project
.project-section {
  position: relative;
  color: $font-color;
  .project-title {
    h1 {
      text-align: center;
    }
    .line {
      height: 6px;
      width: 60%;
      background: $primary;
      margin: auto;
      margin-top: 0.2rem;
    }
  }
}
.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card {
    margin: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 280px;
    padding: 1rem;
    background: $white;
    transition: 0.2s ease-out;
    position: relative;
    @include media(">tablet") {
      &:hover {
        transform: scale(1.02, 1.02);
        transition: 0.2s ease;
      }
    }
    .card1 {
      background: url(../assets/travelium.jpg);
    }
    .card2 {
      background: url(../assets/Foodster.jpg);
    }
    .card3 {
      background: url(../assets/bantaycovid.jpg);
    }
    .card4 {
      background: url(../assets/1.jpg);
    }
    .card-image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
    }
    .card-content {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      .tech {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 0.4rem 0;
        flex-wrap: wrap;

        li {
          background: $pink;
          padding: 0.5rem;
          border-radius: 12px;
          color: $white;
          font-weight: bold;
          font-size: 0.6rem;
        }
      }
    }
    .card-links {
      ul {
        justify-self: flex-end;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
          a {
            text-decoration: none;
            color: $primary;
            font-weight: bold;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
// project
// skills
.skillset {
  .skillset-title {
    background: $primary;
    color: $white;
    text-align: center;
    width: 100%;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $font-color;
    @include media(">tablet") {
      margin: 1rem;
      margin-bottom: 1rem;
    }

    .frontend,
    .other-tools,
    .backend {
      padding: 1rem;
      width: 280px;
      @include media(">=custom1", "<=tablet") {
        flex: 1 1 0;
      }
      @include media(">tablet") {
        flex: 1 1 0;
      }
      h2 {
        text-align: center;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include media(">tablet") {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        li {
          @include media(">=custom1", "<=tablet") {
            width: 90%;
          }
          @include media(">tablet") {
            width: 35%;
          }
          width: 200px;
          margin: auto;
          text-align: center;
          color: $white;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          border-radius: 25px;
          font-weight: bold;
        }
      }
    }
    .frontend {
      .line {
        width: 60%;
        height: 6px;
        background: $pink;
        margin: auto;
        margin-bottom: 1rem;
      }

      ul {
        li {
          padding: 1rem;
          background: $pink;
        }
      }
    }
    .other-tools {
      .line {
        width: 60%;
        height: 6px;
        background: $blue;
        margin: auto;
        margin-bottom: 1rem;
      }

      ul {
        li {
          padding: 1rem;
          background: $blue;
        }
      }
    }
    .backend {
      .line {
        width: 60%;
        height: 6px;
        background: $orange;
        margin: auto;
        margin-bottom: 1rem;
      }

      ul {
        li {
          padding: 1rem;
          background: $orange;
        }
      }
    }
  }
}
// skills
// about
.about {
  color: $font-color;
  padding: 1rem;
  @include media(">tablet") {
    margin: 1rem;
    width: 90%;
    margin: auto;
    position: relative;
  }
  .show-mobile {
    text-align: center;
    @include media(">=custom1", "<=tablet") {
      display: none;
    }
    @include media(">tablet") {
      display: none;
    }
  }
  .line {
    width: 80%;
    height: 6px;
    background: $primary;
    margin: auto;
    margin-bottom: 1rem;
    @include media(">=custom1", "<=tablet") {
      display: none;
    }
    @include media(">tablet") {
      display: none;
    }
  }
  .about-flex {
    display: flex;
    flex-direction: column;
    @include media(">=custom1", "<=tablet") {
      flex-direction: row;
      justify-content: space-between;
    }
    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
    }
    img {
      margin-bottom: 1rem;
      text-align: justify;
      width: 80%;
      margin: auto;
      margin-bottom: 1rem;
      @include media(">=custom1", "<=tablet") {
        width: 50%;
      }
      @include media(">tablet") {
        width: 40%;
      }
    }
    .story {
      @include media(">=custom1", "<=tablet") {
        padding: 0.5rem;
        width: 50%;
        text-align: justify;
        position: relative;
      }
      @include media(">tablet") {
        padding: 0.5rem;
        width: 40%;
        text-align: justify;
        position: relative;
      }
      h1 {
        position: absolute;
        right: 0;
      }
      p {
        @include media(">=custom1", "<=tablet") {
          margin-top: 4rem;
        }
        @include media(">tablet") {
          margin-top: 4rem;
        }
      }
    }
  }
}
// about
// contact
.contact {
  margin: 1rem;
  @include media(">tablet") {
    width: 90%;
    margin: auto;
    position: relative;
  }
  h1 {
    text-align: center;
    color: $font-color;
    @include media(">tablet") {
      text-align: left;
    }
  }
  .line {
    width: 70%;
    height: 6px;
    background: $primary;

    margin: auto;
    margin-bottom: 1rem;
    @include media(">tablet") {
      margin-left: 0;
      width: 30%;
    }
  }
  img {
    @include media(">tablet") {
      margin-left: 1rem;
      width: 20%;
    }
  }
  .contact-section {
    @include media(">=custom1", "<=tablet") {
      display: flex;
      flex-direction: row-reverse;
    }
    @include media(">tablet") {
      display: flex;
      flex-direction: row-reverse;
    }
    img {
      @include media(">=custom1", "<=tablet") {
        flex: 1 1 0;
        width: 90%;
      }
      @include media(">tablet") {
        flex: 1 1 0;
        width: 90%;
      }
    }
    form {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;

      input {
        outline-color: $primary;
        padding: 0.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        border-bottom: 2px solid $primary;
        &:focus {
          outline: none;
        }
      }
      textarea {
        padding: 0.5rem;
        border-color: $primary;
        &:focus {
          outline: none;
        }
      }
      input[type="submit"] {
        border: none;
        width: 60%;
        margin: auto;
        margin-top: 1rem;
        padding: 1rem;
        background: $pink;
        color: $white;
        font-weight: bold;
      }
    }
  }
}
// contact
// footer
footer {
  background: $primary;
  padding: 1rem;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(">tablet") {
    margin-top: 1rem;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
  }

  ul {
    display: flex;
    justify-content: center;
    @include media(">tablet") {
      position: absolute;
      right: 12px;
      top: 10%;
    }
    li {
      list-style-type: none;
      margin: 0.6rem;
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
  p {
    text-align: center;
  }
}
// footer

// side-menu
.side-menu {
  position: fixed;
  width: 50%;
  height: 100%;
  background: $primary;
  z-index: 98;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s ease;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    li {
      list-style-type: none;
      margin: 1rem;

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        transition: 0.3s ease;
      }
    }
  }
}
.show-menu {
  transform: translateX(0%);
}
// side-menu

// circles
@include media(">=custom1", "<=tablet") {
  .circle1 {
    top: 80px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    left: -40px;
    background: $primary;
    z-index: -999;
  }
  .circle2 {
    top: 50%;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    right: -40px;
    background: $blue;
    z-index: -999;
  }
  .circle3 {
    bottom: 0px;
    width: 250px;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    left: -150px;
    background: $pink;
    z-index: -999;
  }
}
@include media(">tablet") {
  .circle1 {
    top: 80px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    left: -40px;
    background: $primary;
    z-index: -999;
  }
  .circle2 {
    top: 50%;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    right: -40px;
    background: $blue;
    z-index: -999;
  }
  .circle3 {
    bottom: 0px;
    width: 250px;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    left: -150px;
    background: $pink;
    z-index: -999;
  }
}

// circles
@include media(">tablet") {
  .about-c {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: $pink;
    z-index: -1;
    right: -180px;
    bottom: -150px;
  }
  .about-c2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: $orange;
    z-index: -1;
    left: -180px;
    top: -10px;
  }
}
.line123 {
  @include media(">=custom1", "<=tablet") {
    width: 90%;
    height: 6px;
    background: $primary;
    position: absolute;
    top: 50px;
    right: 0;
  }
  @include media(">tablet") {
    width: 90%;
    height: 6px;
    background: $primary;
    position: absolute;
    top: 50px;
    right: 0;
  }
}
.circle-d1 {
  @include media(">tablet") {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $blue;
    position: absolute;
    right: 150px;
    top: 200px;
    transform: rotate(30deg);
    z-index: -1;
  }
}
.circle-d2 {
  @include media(">tablet") {
    width: 120px;
    height: 120px;
    position: absolute;
    background: $orange;
    top: 65px;
    right: 350px;
    transform: rotate(30deg);
  }
}
