html {
  scroll-behavior: smooth;
}

.show-desktop {
  display: none;
}

@media (min-width: 600px) and (max-width: 768px) {
  .show-desktop {
    display: inline;
  }
}

@media (min-width: 769px) {
  .show-desktop {
    display: inline;
  }
}

* {
  padding: 0;
  font-family: montserrat;
  margin: 0;
}

.container {
  overflow: hidden;
  max-width: 1366px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00bfaf;
  color: #ffffff;
  width: 100vw;
  max-width: 1366px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99;
}

header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0.1rem 0;
  margin-left: 1rem;
  margin-right: auto;
}

header .logo img {
  width: 60px;
  height: 60px;
}

header nav {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 769px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2rem;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style-type: none;
  padding: 0.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

header .burger {
  margin-right: 2rem;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 769px) {
  header .burger {
    display: none;
  }
}

.hero-section {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section {
    height: 400px;
    margin-top: 2rem;
  }
}

@media (min-width: 769px) {
  .hero-section {
    height: 400px;
    height: 700px;
    position: relative;
  }
}

.hero-section .circle {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  background: #ff598f;
  right: -120px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section .circle {
    top: 20px;
    right: -50px;
  }
}

@media (min-width: 769px) {
  .hero-section .circle {
    top: 40px;
    right: -20px;
  }
}

.hero-section .triangle1 {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 86.60254px solid #01dddd;
  bottom: 40px;
  left: -7px;
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.hero-section .triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 111.96152px solid #fd8a5e;
  bottom: -20px;
  right: -40px;
  -webkit-transform: rotate(133deg);
          transform: rotate(133deg);
  z-index: -1;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
}

@media (min-width: 769px) {
  .hero-section main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
  }
}

.hero-section main img {
  min-width: 290px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section main img {
    max-width: 200px;
  }
}

@media (min-width: 769px) {
  .hero-section main img {
    min-width: 400px;
  }
}

.hero-section main .welcome-text {
  height: 200px;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section main .welcome-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 769px) {
  .hero-section main .welcome-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.hero-section main .welcome-text h1 {
  color: #707070;
  font-weight: normal;
  text-align: center;
}

@media (min-width: 769px) {
  .hero-section main .welcome-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.hero-section main .welcome-text h1 span {
  font-size: 7rem;
  font-weight: bold;
  color: #ff598f;
}

@media (min-width: 769px) {
  .hero-section main .welcome-text h1 span {
    font-size: 14rem;
  }
}

.hero-section main .welcome-text h2 {
  text-align: center;
  line-height: 12px;
  font-size: 1.68rem;
  color: #707070;
  font-weight: normal;
}

@media (min-width: 600px) and (max-width: 768px) {
  .hero-section main .welcome-text h2 {
    line-height: 25px;
  }
}

@media (min-width: 769px) {
  .hero-section main .welcome-text h2 {
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: -1rem;
  }
}

.project-section {
  position: relative;
  color: #707070;
}

.project-section .project-title h1 {
  text-align: center;
}

.project-section .project-title .line {
  height: 6px;
  width: 60%;
  background: #00bfaf;
  margin: auto;
  margin-top: 0.2rem;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-list .card {
  margin: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 280px;
  padding: 1rem;
  background: #ffffff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: relative;
}

@media (min-width: 769px) {
  .card-list .card:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}

.card-list .card .card1 {
  background: url(../assets/travelium.jpg);
}

.card-list .card .card2 {
  background: url(../assets/Foodster.jpg);
}

.card-list .card .card3 {
  background: url(../assets/bantaycovid.jpg);
}

.card-list .card .card4 {
  background: url(../assets/1.jpg);
}

.card-list .card .card5 {
  background: url(../assets/atdbms2.jpg);
}

.card-list .card .card6 {
  background: url(../assets/savingeleven2.jpg);
}

.card-list .card .card-image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}

.card-list .card .card-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-list .card .card-content .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  margin: 0.4rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-list .card .card-content .tech li {
  background: #ff598f;
  padding: 0.5rem;
  border-radius: 12px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.6rem;
}

.card-list .card .card-links ul {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-list .card .card-links ul li a {
  text-decoration: none;
  color: #00bfaf;
  font-weight: bold;
  padding: 0.5rem;
}

.skillset .skillset-title {
  background: #00bfaf;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.skillset .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #707070;
}

@media (min-width: 769px) {
  .skillset .skills {
    margin: 1rem;
    margin-bottom: 1rem;
  }
}

.skillset .skills .frontend,
.skillset .skills .other-tools,
.skillset .skills .backend {
  padding: 1rem;
  width: 280px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .skillset .skills .frontend,
  .skillset .skills .other-tools,
  .skillset .skills .backend {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

@media (min-width: 769px) {
  .skillset .skills .frontend,
  .skillset .skills .other-tools,
  .skillset .skills .backend {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

.skillset .skills .frontend h2,
.skillset .skills .other-tools h2,
.skillset .skills .backend h2 {
  text-align: center;
}

.skillset .skills .frontend ul,
.skillset .skills .other-tools ul,
.skillset .skills .backend ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .skillset .skills .frontend ul,
  .skillset .skills .other-tools ul,
  .skillset .skills .backend ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.skillset .skills .frontend ul li,
.skillset .skills .other-tools ul li,
.skillset .skills .backend ul li {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  font-weight: bold;
}

@media (min-width: 600px) and (max-width: 768px) {
  .skillset .skills .frontend ul li,
  .skillset .skills .other-tools ul li,
  .skillset .skills .backend ul li {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .skillset .skills .frontend ul li,
  .skillset .skills .other-tools ul li,
  .skillset .skills .backend ul li {
    width: 35%;
  }
}

.skillset .skills .frontend .line {
  width: 60%;
  height: 6px;
  background: #ff598f;
  margin: auto;
  margin-bottom: 1rem;
}

.skillset .skills .frontend ul li {
  padding: 1rem;
  background: #ff598f;
}

.skillset .skills .other-tools .line {
  width: 60%;
  height: 6px;
  background: #01dddd;
  margin: auto;
  margin-bottom: 1rem;
}

.skillset .skills .other-tools ul li {
  padding: 1rem;
  background: #01dddd;
}

.skillset .skills .backend .line {
  width: 60%;
  height: 6px;
  background: #fd8a5e;
  margin: auto;
  margin-bottom: 1rem;
}

.skillset .skills .backend ul li {
  padding: 1rem;
  background: #fd8a5e;
}

.about {
  color: #707070;
  padding: 1rem;
}

@media (min-width: 769px) {
  .about {
    margin: 1rem;
    width: 90%;
    margin: auto;
    position: relative;
  }
}

.about .show-mobile {
  text-align: center;
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .show-mobile {
    display: none;
  }
}

@media (min-width: 769px) {
  .about .show-mobile {
    display: none;
  }
}

.about .line {
  width: 80%;
  height: 6px;
  background: #00bfaf;
  margin: auto;
  margin-bottom: 1rem;
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .line {
    display: none;
  }
}

@media (min-width: 769px) {
  .about .line {
    display: none;
  }
}

.about .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .about-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .about .about-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about .about-flex img {
  margin-bottom: 1rem;
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .about-flex img {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .about .about-flex img {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .about-flex .story {
    padding: 0.5rem;
    width: 50%;
    text-align: justify;
    position: relative;
  }
}

@media (min-width: 769px) {
  .about .about-flex .story {
    padding: 0.5rem;
    width: 40%;
    text-align: justify;
    position: relative;
  }
}

.about .about-flex .story h1 {
  position: absolute;
  right: 0;
}

@media (min-width: 600px) and (max-width: 768px) {
  .about .about-flex .story p {
    margin-top: 4rem;
  }
}

@media (min-width: 769px) {
  .about .about-flex .story p {
    margin-top: 4rem;
  }
}

.contact {
  margin: 1rem;
}

@media (min-width: 769px) {
  .contact {
    width: 90%;
    margin: auto;
    position: relative;
  }
}

.contact h1 {
  text-align: center;
  color: #707070;
}

@media (min-width: 769px) {
  .contact h1 {
    text-align: left;
  }
}

.contact .line {
  width: 70%;
  height: 6px;
  background: #00bfaf;
  margin: auto;
  margin-bottom: 1rem;
}

@media (min-width: 769px) {
  .contact .line {
    margin-left: 0;
    width: 30%;
  }
}

@media (min-width: 769px) {
  .contact img {
    margin-left: 1rem;
    width: 20%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .contact .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 769px) {
  .contact .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .contact .contact-section img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    width: 90%;
  }
}

@media (min-width: 769px) {
  .contact .contact-section img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    width: 90%;
  }
}

.contact .contact-section form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-section form input {
  outline-color: #00bfaf;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 2px solid #00bfaf;
}

.contact .contact-section form input:focus {
  outline: none;
}

.contact .contact-section form textarea {
  padding: 0.5rem;
  border-color: #00bfaf;
}

.contact .contact-section form textarea:focus {
  outline: none;
}

.contact .contact-section form input[type="submit"] {
  border: none;
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  background: #ff598f;
  color: #ffffff;
  font-weight: bold;
}

footer {
  background: #00bfaf;
  padding: 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 769px) {
  footer {
    margin-top: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 769px) {
  footer ul {
    position: absolute;
    right: 12px;
    top: 10%;
  }
}

footer ul li {
  list-style-type: none;
  margin: 0.6rem;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer p {
  text-align: center;
}

.side-menu {
  position: fixed;
  width: 50%;
  height: 100%;
  background: #00bfaf;
  z-index: 98;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.side-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.side-menu ul li {
  list-style-type: none;
  margin: 1rem;
}

.side-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.show-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media (min-width: 600px) and (max-width: 768px) {
  .circle1 {
    top: 80px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    left: -40px;
    background: #00bfaf;
    z-index: -999;
  }
  .circle2 {
    top: 50%;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    right: -40px;
    background: #01dddd;
    z-index: -999;
  }
  .circle3 {
    bottom: 0px;
    width: 250px;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    left: -150px;
    background: #ff598f;
    z-index: -999;
  }
}

@media (min-width: 769px) {
  .circle1 {
    top: 80px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    left: -40px;
    background: #00bfaf;
    z-index: -999;
  }
  .circle2 {
    top: 50%;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    right: -40px;
    background: #01dddd;
    z-index: -999;
  }
  .circle3 {
    bottom: 0px;
    width: 250px;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    left: -150px;
    background: #ff598f;
    z-index: -999;
  }
}

@media (min-width: 769px) {
  .about-c {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: #ff598f;
    z-index: -1;
    right: -180px;
    bottom: -150px;
  }
  .about-c2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: #fd8a5e;
    z-index: -1;
    left: -180px;
    top: -10px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .line123 {
    width: 90%;
    height: 6px;
    background: #00bfaf;
    position: absolute;
    top: 50px;
    right: 0;
  }
}

@media (min-width: 769px) {
  .line123 {
    width: 90%;
    height: 6px;
    background: #00bfaf;
    position: absolute;
    top: 50px;
    right: 0;
  }
}

@media (min-width: 769px) {
  .circle-d1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #01dddd;
    position: absolute;
    right: 150px;
    top: 200px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    z-index: -1;
  }
}

@media (min-width: 769px) {
  .circle-d2 {
    width: 120px;
    height: 120px;
    position: absolute;
    background: #fd8a5e;
    top: 65px;
    right: 350px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
/*# sourceMappingURL=main.css.map */